body .formProfil {
    padding: 5px;
    background-color: rgba(205, 247, 176, 0.404);
}

body .formProfil button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: inherit;
    width: 40%;
    margin-top: 2%;
    margin-left: 60%;
    margin-bottom: 2%;
}

body .formProfil .form-group label {
    display: block;
}

body .formProfil .form-group input {
    width: 98%;
    margin-bottom: 5px;
    padding: 5px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

body .formProfil .form-group textarea {
    width: 98%;
    margin-bottom: 5px;
    padding: 5px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}
