section .article-container{
	background: rgba(82, 243, 18, 0.274);
}

section.article-container > div{
	width: 90%;
	margin: auto;
	padding: 20px;
	text-align: center;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
}
