body {
	background-image: url("../img/cielverger.jpg");
	background-size: cover;
	background-attachment: fixed;
	/*linear-gradient(to right, rgb(97, 167, 18) 0%, rgb(75, 185, 24) 50%, rgb(97, 167, 18) 100%);*/
	/*url("assets/img/jardin.jpg")  */
	font: 12px/1.4em'PT Sans', Sans-Serif;
	color: #1c1c1c;
}

header {
	zoom: 1;
	/* pour interent explorer 6 et 7 */
}

.titre {
	text-align: center;
	margin: 20px auto;
	font-size: 24px;
	color: green;

}


/* media qui a au plus 767 px de large  (mobile) */

@media (max-width:767px) {
	.menu {
		background-color:transparent;
		color: #fff;
		height: 50px;
		position: fixed;
	}

	.menu .burger {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		color: inherit;
		cursor: pointer;
		font-size: 5vw;
		line-height: 50px;
		margin: 0;
		outline: 0;
		padding: 0;
		text-align: left;
		width: 50px;
	}

	.menu .burger:before {
		content: '☰';
	}

	.menu .burger:checked+nav {
		height: calc(20vh - 50px);
		opacity: .9;
	}

	.menu .burger:checked:before {
		content: 'X';
	}

	.menu nav {
		background: inherit;
		font-size: 20px;
		font-weight: 700;
		height: 0;
		overflow: hidden;
		text-transform: uppercase;
		transition: height .3s;
		width: 100%;
	}

	.menu nav>* {
		display: block;
		letter-spacing: 1px;
		padding: 0 20px;
		width: 100%;
		font-size: 4vw;
	}

	.menu nav ul li {
		text-align: left;
		padding: 3% 0;
	}

	.menu nav ul li a {
		color: #fff;
		text-decoration: none;
}

	.menu {
		z-index: 9999;
	}

}

/* media qui a au moins 768 px de large */

@media (min-width:768px) {
	input[type=checkbox] {
		display: none;
	}

	.menu {
		background-color: #00d440;
		margin: 0 0 0 -450px;
		width: 900px;
		height:50px;
		left: 50%;
		top:0;
		position: fixed;
	}

	.menu nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 50px;
	}

	.menu nav ul li {
		margin: 0 10%;
		list-style-type: none;
	}

	.menu nav ul li a {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: none;
	}

}

footer {
	background-color: #00d440;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	width: 100%;
	margin-top: 2%;
}

.top-Home {
	padding: 5% 12% 5% 16%;
	border-radius: 5px;
	text-align: center;
}

footer p {
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

footer i {
	color: #fff;
	font-size: 20px;
}