/*------------------
   Reset
------------------*/

html{
	box-sizing: border-box;
}

*,*:before,*:after{
	box-sizing: inherit;
}

/*------------------
   Mise en page
------------------*/

section .login-container{
	background: rgba(82, 243, 18, 0.274);
}

section.login-container > div{
	width: 450px;
	height:100%;
	margin: 80px auto;
	padding: 20px;
	text-align: center;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
}

section.login-container form{
	display: flex;
	flex-direction: column;
}

form input[type="password"],
form input[type="text"],
form button[type="submit"],
form textarea{
	width: 100%;
	margin-bottom: 32px;
	padding: 16px;
	color : #333;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: 0;
}

form input[type="password"]:focus,
form input[type="password"]:hover,
form input[type="text"]:focus,
form input[type="text"]:hover,
form textarea:focus,
form textarea:hover{
	background-color: #ccc;
}

form button[type="submit"]{
	font-weight: bold;
	color: #eee;
	text-transform: uppercase;
	background-color: #3a9232a9;
}

form button[type="submit"]:focus,
form button[type="submit"]:hover{
	background-color: #2db121a9;
}

.danger{
	border : 3px solid red !important;
}


